*{
  text-align: center;
  font-family: Arial, Verdana, sans-serif;
  color: #665544;
}
html{
  display: block;
}
body{
}
#bio{
  border: 1px solid;
  font-size: 15px;

}
.main{
  border: 1px solid;
  font-size: 20px;
}
div{
  border: 1px solid;
  font-size: 20px;
  margin-top: 20px;
}
#main > li{
  list-style-type: none;
}
#menu{
  list-style-type: none;
  height: 10px;
  font-size: 30px;
  display: inline;
  width: 60px;
}
#menu > li{
  display: inline;
}
  font-size: 20px;
}
